<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- Verifica si toolbarOptions está disponible -->
    @if (toolbarOptions$ | async; as toolbarOptions) {
      
      <!-- Botón de regreso si está habilitado -->
      <ion-buttons slot="start" *ngIf="toolbarOptions.showBackButton">
        <ion-back-button
          [defaultHref]="'/home'"
          [text]="toolbarOptions.backButtonText"
          color="success"
        ></ion-back-button>
      </ion-buttons>

      <!-- Título del toolbar -->
      <ion-title class="ion-text-capitalize">{{ toolbarOptions.title }}</ion-title>

      <!-- Menú de hamburguesa si está habilitado -->
      <ion-buttons slot="end" *ngIf="toolbarOptions.showHamburgerMenu">
        <ion-button color="dark">
          <ion-menu-button></ion-menu-button>
        </ion-button>
      </ion-buttons>

    }
  </ion-toolbar>
</ion-header>
