<ion-tabs>
  <ion-tab-bar slot="bottom">
   
    <ion-tab-button tab="galery" routerLink="/galery" >
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>galery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" routerLink="/home" routerDirection="root">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    
    

    <!-- <ion-tab-button tab="cart" routerLink="/cart" >
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>cart</ion-label>
      <ion-badge color="danger">1</ion-badge>
    </ion-tab-button> -->

    
  </ion-tab-bar>
</ion-tabs>
